@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&family=Vujahday+Script&display=swap");
.atropos {
  position: relative;
}
.atropos-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-style: preserve-3d;
  transform: translateZ(0);
  display: block;
}

.game-box .atropos-inner,
.movie-box .atropos-inner {
  z-index: 1;
}
.game-box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  transform-style: preserve-3d;
  pointer-events: none;
  max-width: none;
}

.game-box .atropos-shadow,
.movie-box .atropos-shadow {
  opacity: 0.5;
  transform: translateZ(-1px);
}

.game-box {
  --side-color: #004297;
  --side-size: 32px;
  width: auto;
  height: 400px;
  aspect-ratio: 16/27;
  object-fit: cover;
}

.game-box img.game-box-bg {
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
}

.game-box img.game-box-size {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  visibility: hidden;
}

.game-box .atropos-rotate:before {
  content: "";
  position: absolute;
  left: 0;
  width: calc(100% + 8px);
  height: calc(100% + 16px);
  top: -8px;
  background: #086ef4;
  z-index: 1;
}

.game-box-logo {
  left: 0;
  top: 0;
  position: absolute;
  height: 400px;
  object-fit: contain;
}z
.game-box-b,
.game-box-l,
.game-box-r,
.game-box-t {
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.game-box-t {
  top: -8px;
  transform: translateZ(-32px) rotateX(90deg);
  transform-origin: center top;
}

.game-box-b,
.game-box-t {
  width: calc(100% + 8px);
  height: var(--side-size);
  background: var(--side-color);
  left: 0;
}

.game-box-b {
  bottom: -8px;
  transform: translateZ(-32px) rotateX(-90deg);
  transform-origin: center bottom;
}

.game-box-r {
  right: -8px;
  transform: translateZ(-32px) rotateY(90deg);
  transform-origin: right center;
}

.game-box-l,
.game-box-r {
  width: var(--side-size);
  height: calc(100% + 16px);
  background: var(--side-color);
  top: -8px;
}

.game-box-l {
  left: 0;
  transform: translateZ(-32px) rotateY(-90deg);
  transform-origin: left center;
  overflow: hidden;
}

.game-box-l:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10.4%;
  background: #a5a5a5;
  left: 0;
  top: 9px;
}

body {
  background-repeat: no-repeat;
  display: grid;
  align-content: center;
  justify-content: center;
  background-attachment: fixed;
  font-family: "Poppins";
  font-weight: 400;
  color: white;
}
